#### Problem Statement : Hospital Patient Data Analysis

A hospital maintains patient records including admission details, department, diagnosis, doctor, and bill amount. You have two datasets: one with patient info and another with billing details. Some patients have blank bill amounts, and there are multiple rows for the same patient due to follow-ups

## Tasks:

1.	Load the patient dataset and show summary with info().

In [1]:
import pandas as pd

patient_data = pd.read_csv('Patient_Data.csv')
patient_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [2]:
# selecting only few column items

patient_data_select = patient_data[['PatientID','Department','Doctor','BillAmount']]
patient_data_select

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [3]:
# droping few columns

# patient_data_drop = patient_data.drop(columns=['ReceptionistID','CheckInTime'])
patient_data_drop = patient_data.drop(['ReceptionistID','CheckInTime'], axis=1)
patient_data_drop

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

4.	Use groupby to find total bill amount per department.

In [4]:
# grouping by total [using sum]

patient_data_group = patient_data.groupby('Department')['BillAmount'].sum()
patient_data_group

Department
Cardiology     16200.0
Dermatology        0.0
Neurology          0.0
Orthopedics     7500.0
Name: BillAmount, dtype: float64

5.	Remove duplicate patient records based on PatientID.

In [5]:
# removing duplicates

patient_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

In [6]:
patient_data_dup = patient_data.drop_duplicates()
patient_data_dup

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

In [7]:
patient_data_final = patient_data_dup
patient_data_final

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

6.	Fill missing BillAmount values with the mean bill amount.

In [8]:
## check missing values

patient_data_final.isnull().sum()

PatientID         0
Name              0
Department        0
Doctor            0
BillAmount        2
ReceptionistID    0
CheckInTime       0
dtype: int64

In [9]:
# Observed 2 missing values found on Billing data
# filling with mean()

patient_data_final_fill = patient_data_final.fillna(patient_data_final['BillAmount'].mean())
patient_data_final_fill

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45

7.	Merge the billing dataset with patient dataset on PatientID.

In [10]:
# first check Billing data

billing_data = pd.read_csv('Billing_Data.csv')
billing_data

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [11]:
# patient data
patient_data_final_fill

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45

In [12]:
# as per both dataset, PatientID is common for both datset, will merge with PID

# Final_data = patient_data_final_fill.merge(billing_data)
Final_data = patient_data_final_fill.merge(billing_data, on='PatientID',how='inner')
Final_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000,3000
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000,4000

8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [13]:
# to create new patient details

new_patient_data = pd.DataFrame({'PatientID':[106,107,108],
                                 'Name':['Alice','Border','Land'],
                                 'Department':['Cardiology','Neurology','Orthopedics'],
                                 'Doctor':['Dr.A','Dr.B','Dr.C'],
                                 'BillAmount':[6000,5500,7000],
                                 'ReceptionistID': [2,3,1],
                                 'CheckInTime':['10:00', '11:00','12:00']})
new_patient_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,106,Alice,Cardiology,Dr.A,6000,2,10:00
1,107,Border,Neurology,Dr.B,5500,3,11:00
2,108,Land,Orthopedics,Dr.C,7000,1,12:00

In [16]:
# concatenate with final data with row wise [axis =0 for row]
Final_patient_data = pd.concat([Final_data, new_patient_data],axis=0,ignore_index=True)
Final_patient_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,NaN,NaN
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,NaN,NaN
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,NaN,NaN

9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [17]:
# to create new Billing details 

new_bill_data = pd.DataFrame({'InsuranceCovered': [2000,1000,1500],
                              'FinalAmount':[5000,4000,4500]})
new_bill_data

   InsuranceCovered  FinalAmount
0              2000         5000
1              1000         4000
2              1500         4500

In [18]:
# concatenate with final data with columns [axis =1 for columns]

Final_Patient_bill = pd.concat([Final_patient_data,new_bill_data],axis=1)
Final_Patient_bill

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0,2000.0,5000.0
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0,1000.0,4000.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0,1500.0,4500.0
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0,NaN,NaN
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,NaN,NaN,NaN,NaN
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,NaN,NaN,NaN,NaN
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,NaN,NaN,NaN,NaN

In [19]:
# to create new Billing details with patient ID

new_bill_data = pd.DataFrame({'PatientID':[106,107,108],
                              'InsuranceCovered': [2000,1000,1500],
                              'FinalAmount':[5000,4000,4500]})
new_bill_data

   PatientID  InsuranceCovered  FinalAmount
0        106              2000         5000
1        107              1000         4000
2        108              1500         4500

In [22]:
Final_Patient_bill = pd.concat([Final_patient_data,new_bill_data],axis=1)
Final_Patient_bill

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount,PatientID,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0,106.0,2000.0,5000.0
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0,107.0,1000.0,4000.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0,108.0,1500.0,4500.0
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0,NaN,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0,NaN,NaN,NaN
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,NaN,NaN,NaN,NaN,NaN
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,NaN,NaN,NaN,NaN,NaN
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,NaN,NaN,NaN,NaN,NaN

In [25]:
## Observed some columns seen as duplicates, we can use merge 
## with concate not working properly for adding bill data

Final_clean_data = Final_patient_data.merge(new_bill_data,on='PatientID',how='left')
Final_clean_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered_x,FinalAmount_x,InsuranceCovered_y,FinalAmount_y
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0,NaN,NaN
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0,NaN,NaN
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0,NaN,NaN
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0,NaN,NaN
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0,NaN,NaN
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,NaN,NaN,2000.0,5000.0
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,NaN,NaN,1000.0,4000.0
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,NaN,NaN,1500.0,4500.0

In [30]:
Final_clean_data["InsuranceCovered"] = (Final_clean_data["InsuranceCovered_x"]
                                        .combine_first(Final_clean_data["InsuranceCovered_y"]))

In [31]:
Final_clean_data["FinalAmount"] = (Final_clean_data["FinalAmount_x"]
                                        .combine_first(Final_clean_data["FinalAmount_y"]))

In [32]:
Final_clean_data

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered_x,FinalAmount_x,InsuranceCovered_y,FinalAmount_y,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0,NaN,NaN,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0,NaN,NaN,1500.0,3500.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0,NaN,NaN,2500.0,5000.0
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0,NaN,NaN,3000.0,3200.0
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0,NaN,NaN,1000.0,4000.0
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,NaN,NaN,2000.0,5000.0,2000.0,5000.0
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,NaN,NaN,1000.0,4000.0,1000.0,4000.0
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,NaN,NaN,1500.0,4500.0,1500.0,4500.0

In [34]:
Final_Bill = Final_clean_data.drop(columns=['InsuranceCovered_x','InsuranceCovered_y','FinalAmount_x','FinalAmount_y'])
Final_Bill

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.000000,1,2023-01-10 09:00,2000.0,3000.0
1,102,Bob,Neurology,Dr. John,6233.333333,2,2023-01-11 10:30,1500.0,3500.0
2,103,Charlie,Orthopedics,Dr. Lee,7500.000000,1,2023-01-12 11:00,2500.0,5000.0
3,104,David,Cardiology,Dr. Smith,6200.000000,3,2023-01-13 12:00,3000.0,3200.0
4,105,Eva,Dermatology,Dr. Rose,6233.333333,2,2023-01-14 08:45,1000.0,4000.0
5,106,Alice,Cardiology,Dr.A,6000.000000,2,10:00,2000.0,5000.0
6,107,Border,Neurology,Dr.B,5500.000000,3,11:00,1000.0,4000.0
7,108,Land,Orthopedics,Dr.C,7000.000000,1,12:00,1500.0,4500.0